.f-newreader{
    font-family: "Newsreader", serif;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

i{
    color: inherit;
    display: inline-block;
    // font-size: $h4-font-size;
    font-size: inherit;
    line-height: inherit;

    // @media (max-width: 992px) {
    //     font-size: $h5-font-size;
    // }
}

h1,
h2,
h3,
h4,
h5,
h6{
    letter-spacing: 0.1em;
}
p{
    letter-spacing: 0.05em;
}

.btn-green{
    font-size: $h5-font-size;
    font-weight: $font-weight-bolder;
    letter-spacing: 0.1em;
    background-color: $accent-200;
    color: $white;
    padding: 16px 24px;

    @media (max-width: 992px) {
        font-size: $h6-font-size;
        font-weight: $font-weight-bold;
        padding: 12px 20px;
    }
}
.btn-green:hover{
    background: $accent-300;
    color: $white;
}

/*不要更改順序*/
.login{
    font-size: $h6-font-size;
    font-weight: $font-weight-bold;
}

/*會員專屬*/
.member-btn{
    font-weight: $font-weight-bold;
    line-height: $line-height-xs;
    letter-spacing: 0.1em;
    background-color: $primary-300;
    color: $primary-400;
    padding: 4px 8px;
    border-radius: 4px;
}

.badge-btn{
    font-size: $h6-font-size;
    line-height: $line-height-xs;
    letter-spacing: 0.1em;
    background-color: $primary-300;
    color: $primary-400;
    padding: 4px 8px;
    border-radius: 4px;

    @media (max-width: 992px) {
        font-size: $h7-font-size;
    }
}
.badge-btn:hover{
    background-color: $primary-400;
    color: $white;
}

.text-btn{
    font-size: $h5-font-size;
    font-weight: $font-weight-bold;
    line-height: $line-height-xs;
    letter-spacing: 0.1em;
    color: $accent-200;
    padding: 10px 0;

    @media (max-width: 992px) {
        font-size: $h6-font-size;
        padding: 8px 0;
    }
}
.text-btn:hover{
    color: $accent-300;
}

.proposal-btn{
    background-color: $white;
    color: $accent-300;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid $accent-100;

    i{
        font-size: $font-size-base;
    }
}

//

.flex-fill {
    flex: 1;
}

.swiper-btn{
    display: inline-block;
    padding: 4px 16px;
    border-radius: 100px;
    border: 1px solid #6C757D;

    &:hover{
      background: $neutral-400;
      color: $white;
    }
}

.hr-line{
    width: 80px;
    height: 1px;
    color: $neutral-400;
    opacity: 1;
}