<footer>
    <div class="container p-4 p-lg-5 border-top border-1 1px border-gray-300">
        <p class="f-newreader text-center text-primary-400">©Vivre 2024 All right Reserved</p>
    </div>
</footer>