<header>
  <nav class="navbar navbar-expand-lg bg-primary-100">
    <div class="container py-lg-6 py-1">
      <a class="navbar-brand me-6" href="#">Vivre</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <button class="btn-close" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" ></button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          <input class="form-control me-2 bg-white" type="search" placeholder="搜尋文章" aria-label="Search">
          <!-- <button class="btn btn-outline-success" type="submit"> -->
            <i class="bi bi-search"></i>
          </button>
        </form>
        <ul class="navbar-nav navbar-expand-lg ms-lg-auto">
          <li class="nav-item">
            <a class="nav-link px-lg-4 py-lg-1 p-2" href="#">所有文章</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-4 py-lg-1 p-2" href="#">訂閱方案</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-lg-4 py-lg-1 p-2" href="#">關於我們</a>
          </li>
        </ul>
        <!-- <button type="button" class="login btn btn-accent-200 text-white px-lg-5 py-lg-3 px-0 py-2">登入 / 註冊</button> -->
        <button type="button" class="login btn btn-green">登入 / 註冊</button>
      </div>
    </div>
  </nav>
</header>