

header{
  .navbar > .container{
    flex-wrap: wrap;
    border-bottom: 1px solid $neutral-500;

    @media (max-width: 991px) {
      border: 0;
    }
  }
}

header{
  .a-bi-search{
    position: relative;
    left: -48px;
  }
}

header{
  .login{
    @media (max-width: 991px) {
      width: 100%;
    }
  }
}